*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
    --yellow: #ffc600;
    --black: #272727;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: var(--bs-font-sans-serif);
    background: #f8f9fa;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

.header {
    grid-area: header;
    background-color: #c4c4c4;
    padding: 0 0 0 20px;
}

.footer {
    grid-area: footer;
    background-color: #c4c4c4;
    padding: 0 0 0 20px;

}

.main {
    grid-area: main;
    overflow: auto;
    place-content: start start;
    padding: 15px 5px 10px 5px;
    display: grid;
    grid-template-columns: 1fr minmax(0, 3fr) minmax(0, 3fr) 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "left-nav top-row           top-row             right-nav"
        "left-nav r2-c1             r2-c2               right-nav"
        "left-nav after-content-row after-content-row   right-nav"
        "left-nav last-row          last-row            right-nav";
    grid-gap: 20px;
}

.container-top-row {
    grid-area: top-row;
}

.container-content-area {
    grid-area: 2 / 2 / 2 / 4;
}

.container-after-content-row {
    grid-area: after-content-row;
}

.container-last-row {
    grid-area: last-row;
}

.container-first-content-column {
    grid-area: r2-c1;
}

.container-second-content-column {
    grid-area: r2-c2;
}

.left-nav {
    grid-area: left-nav;
}

.right-nav {
    grid-area: right-nav;
}

.logo-begin {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    padding: 0.5vh;
}

.logo-begin a {
    text-decoration: none;
    color: white;
}

.logo-end {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    padding: 0.5vh;
}

/* input items styling */

.input {
    font-size: 1rem;
    font-family: inherit;
    background-color: #fff;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    margin-bottom: 1rem;
}

.input-with-note {
    font-size: 1rem;
    font-family: inherit;
    background-color: #fff;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
}

.input:focus {
    border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
    box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) + 40%), 0.8);
    outline: 3px solid transparent;
}

.input:not(textarea) {
    line-height: 1;
    height: 2.25rem;
}


textarea.input {
    resize: vertical;
}

.input[readonly] {
    border-style: dotted;
    cursor: not-allowed;
    color: #777;
}

.input[disabled] {
    --input-border: #ccc;
    background-color: #eee;
    cursor: not-allowed;
}


.button {
    border: none;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    align-self: start;
    background-color: #3e68ff;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
    text-align: center;
    line-height: 1.1;
    /*transition: 220ms all ease-in-out;*/
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

label {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.input + label {
    margin-top: 2rem;
}

.note {
    font-family: inherit;
    font-size: 0.75em;
    color: #8b8a8b;
    padding: 0.5vh;
    margin-bottom: 0.5rem;
}

.page-headings {
    font-family: inherit;
    font-size: 2em;
    font-weight: 500;
    line-height: 1;
    padding: 0;
    color: black;
}

.paragraph-headings {
    font-family: inherit;
    font-weight: 500;
    line-height: 1;
    font-size: 1.2em;
    padding: 0;
    color: darkblue;
}

.verdict {
    font-family: inherit;
    font-size: 1.2em;
    color: darkblue;
}

ul[header-label]::before {
    content: attr(header-label);
    font-family: inherit;
    font-size: 2em;
    font-weight: 500;
    line-height: 1;
    padding: 0;
    margin: -45px;
    color: black;
}

/* end of input items styling */

@media (max-width: 900px) {
    .main {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
        "left-nav top-row           right-nav"
        "left-nav r2-c1             right-nav"
        "left-nav r2-c2             right-nav"
        "left-nav after-content-row right-nav"
        "left-nav last-row          right-nav";
    }

    .container-content-area {
        grid-area: 2 / 2 / 4 / 2;
    }

}


@media (max-width: 750px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-areas:
            "right-nav"
            "left-nav"
            "top-row"
            "r2-c1"
            "r2-c2"
            "after-content-row"
            "last-row"
    }

    .container-content-area {
        grid-area: 4 / 1 / 6 / 1;
    }

}



