*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
    --yellow: #ffc600;
    --black: #272727;
}

body {
    min-height: 100vh;
    position: relative;
    display: grid;
    place-content: start start;
    grid-gap: 0.25vh;
    font-family: "Baloo 2", sans-serif;
    /* background-color: #eeeeee; */
    padding: 0.5vh;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "topbar     topbar      topbar"
        "sidebar-1  content     sidebar-2"
        "bottombar  bottombar   bottombar";
}

.header {
    grid-area: topbar;
    background: rgba(47, 79, 79, 0.4);
    min-height: 5vh;
}

.main-content {
    grid-area: content;
    min-height: 80vh;
}

.footer {
    grid-area: bottombar;
    background: rgba(0, 0, 0, 0.4);
    min-height: 5vh;
    padding-left: 20px;
}

@media (max-width: 900px) {
    body {
        grid-template-areas:
        "topbar     topbar      topbar"
        "sidebar-1  sidebar-1   sidebar-2"
        "content    content     content"
        "bottombar  bottombar   bottombar";
    }
}

.container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas:
            "title"
            "inputoutputarea"
            "infoarea";
}

.container-title {
    grid-area: title;
}

.container-content {
    grid-area: inputoutputarea;
}

.container-info {
    grid-area: infoarea;
}

.logo-begin {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    background: rgba(139, 0, 139, 0.4);
    padding: 5px;
}

.logo-begin a {
    text-decoration: none;
    color: white;
}

.logo-end {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    /*-webkit-text-stroke: 2px rgba(139, 0, 139, 0.8);
    -webkit-text-fill-color: rgba(139, 0, 139, 0.8);*/
    padding: 5px;
}

/* input items styling */
.input {
    font-size: 1rem;
    font-family: inherit;
    padding: 0.25em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    transition: 180ms box-shadow ease-in-out;
}

.input:focus {
    border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
    box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) + 40%), 0.8);
    outline: 3px solid transparent;
}

.input:not(textarea) {
    line-height: 1;
    height: 2.25rem;
}


textarea.input {
    resize: vertical;
}

.input[readonly] {
    border-style: dotted;
    cursor: not-allowed;
    color: #777;
}

.input[disabled] {
    --input-border: #ccc;
    background-color: #eee;
    cursor: not-allowed;
}


.button {
    border: none;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    align-self: start;
    background-color: #3e68ff;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
    text-align: center;
    line-height: 1.1;
    transition: 220ms all ease-in-out;
}

label {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
}

.input + label {
    margin-top: 2rem;
}

.note {
    font-family: inherit;
    font-size: 0.75em;
    color: #8b8a8b;
    padding: 0;
}

.page-headings {
    font-family: inherit;
    font-size: 2em;
    font-weight: 500;
    line-height: 1;
    padding: 0;
    color: black;
}

.paragraph-headings {
    font-family: inherit;
    font-weight: 500;
    line-height: 1;
    font-size: 1em;
    padding: 0;
    color: black;
}

.verdict {
    font-family: inherit;
    font-size: 1.5em;
    color: darkblue;
}

ul[header-label]::before {
    content: attr(header-label);
    font-family: inherit;
    font-size: 2em;
    font-weight: 500;
    line-height: 1;
    padding: 0;
    margin: -45px;
    color: black;
}

/* end of input items styling */