{% extends "layout.html" %}
{% block content %}
    <div class="container">
         <p class="container-title">
                <span class="page-headings">Monte Carlo Simulation</span>
            </p>
        <p class="container-content">
            This Monte Carlo simulation tool provides a means to test long term expected portfolio growth and portfolio
            survival based on withdrawals, e.g., testing whether the portfolio can sustain the planned withdrawals
            required for retirement.<br>
            <span class="note">
                No info is stored. Data will be lost once you close or refresh the browser
            </span>
            <br>
            <a href="input">
                <input class="button" type="submit" value="Click to Start"/>
            </a>
        </p>
        <ul class="container-info">
            <li><strong>Proof of Concept application:</strong> &nbsp;Utilizing Python, HTML5, CSS Grids
                <ul>
                    <li>
                        <strong>Phase 1 (Current):</strong>
                        &nbsp;Container based, CI/CD (Heroku)
                    </li>
                    <li>
                        <strong>Phase 2:</strong>
                        &nbsp;Fully serverless (AWS)
                    </li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}