{% extends "layout.html" %}
{% block content %}
    <script type='text/javascript'>
        function check_for_valid_date(dob_entered) {
            let current_date = new Date();
            let begin_date = new Date();
            let end_date = new Date();
            let entered_date = new Date(dob_entered.value);
            let max_date = document.getElementById('max-age').value;
            console.log(max_date);
            begin_date.setFullYear(current_date.getFullYear() - max_date);

            if (typeof entered_date === "undefined") {
                document.getElementById('birth-date').setCustomValidity("Invalid date entered, " +
                    "please use yyyy-mm-dd format. Please clear data entered and enter fresh");
            } else {
                if (begin_date < entered_date) {
                    if (entered_date < end_date) {
                        document.getElementById('birth-date').setCustomValidity("");
                        document.getElementById('birth-date').setAttribute('value', entered_date.toString());
                    } else {

                        document.getElementById('birth-date').setCustomValidity("Back to the future, " +
                            "is possible in movies only. Please clear data entered and enter a reasonable date");
                    }
                } else {
                    document.getElementById('birth-date').setCustomValidity("Are you really human?, " +
                        "Use a valid date of birth. Please clear data entered and enter a reasonable date");
                }


            }

        }
        function check_if_retired_already(retirement_age_entered) {
            let dob_entered = document.getElementById('birth-date');
            let dob_date = dob_entered.value;
            let d1 = new Date();
            let d2 = new Date(dob_date)
            let current_age = d1.getFullYear() - d2.getFullYear();
            if (current_age > retirement_age_entered) {
                document.getElementById('planned-retirement-age').setCustomValidity("You seem to have retired. " +
                    "Calculation for retirees is part of our future roadmap");
            } else {
                document.getElementById('planned-retirement-age').setCustomValidity("");
            }
        }

        function compare_to_retirement_age(max_age_entered) {
            max_age_entered = parseFloat(max_age_entered);
            let retirement_age_entered = document.getElementById('planned-retirement-age').value;
            retirement_age_entered = parseFloat(retirement_age_entered)

            if (max_age_entered < retirement_age_entered) {
                document.getElementById('max-age').setCustomValidity("Entered value cannot be lesser than retirement age.");
            } else {
                document.getElementById('max-age').setCustomValidity("");

            }
        }
    </script>
    <form class="main" method="post" action="/output/">
        <div class="container-top-row">
            <p class="page-headings">Enter your plan details</p>
        </div>
        <div class="container-first-content-column">
            <label for="current-retirement-$">Current retirement savings</label>&nbsp;
            <input class="input" id="current-retirement-$" name="present_value" type="number" required
                   min="0"/>
            <label for="birth-date">Date of birth</label>&nbsp;
            <input class="input" id="birth-date" name="date_of_birth" type="date" placeholder="yyyy-mm-dd"
                   min="1950-01-01"
                   required onchange="check_for_valid_date(this)"/>
            <label for="planned-retirement-age">Planned retirement Age?</label>&nbsp;
            <input id="planned-retirement-age" class="input" name="retirement_age" type="number" required
                   min="21"
                   max="101"/>
            <label for="max-age">Age till which you want to check savings viability?</label>&nbsp;
            <input id="max-age" class="input" name="max_age" type="number" required min="21" max="101"
                   value="92"
                   onchange="compare_to_retirement_age(this.value)"/>
            <label for="planned-savings-till-retirement">Annual savings till retirement?</label>&nbsp;
            <input id="planned-savings-till-retirement" class="input" name="annual_savings_till_retirement"
                   type="number"
                   required min="0" value="0"/>
            <label for="retirement-expenses">Annual expenses in retirement?</label>&nbsp;
            <input id="retirement-expenses" class="input" type="number"
                   name="annual_withdrawal_in_retirement"
                   required
                   min="0" value="108000"/>
        </div>
        <div class="container-second-content-column">
            <label for="roi-expected">Anticipated returns on retirement savings</label>&nbsp;
            <input class="input-with-note" id="roi-expected" name="expected_roi" type="number" required
                   min="0.05" max="1"
                   step="0.0001" value="0.0725"/><br>
            <span class="note">Enter value in decimals pls: 0.5 is 50%, 0.05 is 5% </span>
            <br><br>

            <label for="standard-deviation">Anticipated volatility</label>&nbsp;
            <input class="input-with-note" id="standard-deviation" type="number"
                   name="standard_deviation_of_expected_returns"
                   required min="0.1" max="1" step="0.0001"
                   value="0.17"/>
            <span class="note">Leave at default, unless you know what you are doing.&nbsp;
                    To tinker please enter value in decimals pls: 0.5 is 50%, 0.05 is 5% </span>
            <br>
            <label for="number-of-simulations" hidden>Number of simulations to be run</label>&nbsp;
            <input class="input" id="number-of-simulations" name="iterations" min="1" max="1000"
                   type="number"
                   readonly="readonly" value="1000" required hidden/>
        </div>
        <div class="container-after-content-row">
            <input class="button" type="submit" value="Calculate" tabindex="9"/>
        </div>
        <div class="container-last-row">
            <span class="paragraph-headings">Assumptions:</span>
            <ul>
                <li>$ values are today's value. Model adjusts withdrawals for inflation</li>
                <li>Inflation: 3%<br></li>
                <li>Standard Deviation of Inflation: 1.17%<br></li>
                <li>Social Security Begin Age: 66. Social Security Amount: $28K.</li>
                <li>Retirement Phases:
                    <ul>
                        <li>Upto 66: Pre-tax: Amount entered in the Annual withdrawal field</li>
                        <li>From 66 to 75: Pre-tax: Same total amount but reduced by $28K from Soc. Sec</li>
                        <li>From 75 to EOL: Pre-tax: Reduction of $18K pa from the amount entered in the
                            withdrawal field above <i>minus</i> $28K from SS
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </form>
{% endblock %}